{
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "no-param-reassign": 0,
        "no-console": 1,
        "class-methods-use-this": 0,
        "import/no-unresolved": [2, { "commonjs": true }, { "caseSensitive": false }],
        "indent": ["error", 2],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ]
      }
}
